---
import { Image } from "astro:assets";

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <a href="/astro-test">Home</a>
        <a href="/astro-test/about">About</a>
        <a href="/astro-test/blog">Blog</a>
        <h1>About Me</h1>
        <h2>Good software is built with a single person while great software is built with teams. I'm happy with good software...</h2>
        <h3>A software engineer who is currently working in a sweatshop and is trying to reclaim his lost love for development</h3> 
    </body>
</html>
