---
import { Image } from "astro:assets";
import '../styles/global.css';
const pageTitle="Blog List";
import Header from '../components/Header.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
     <style>
            h2{
                color:green;
                font-weight:bold;
            }
        </style>
    <body>
        <Header/>
        <h1>The ramblings start here</h1>
        <!-- Could reuse below as a single card component  -->
        <h2>
            The <a href="/astro-test/blog-posts/creating-website">journey</a> behind building this website
        </h2>
        <p>
            From dealing wih broken node versions and wrangling css to figuring out deployment, Windows sucking as a dev env...the list goes on
        </p>
        <p>If everyone and their dog has a website, what's stopping me?</p>
    </body>
</html>
