---
import { Image } from "astro:assets";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <a href="/astro-test">Home</a>
        <a href="/astro-test/about">About</a>
        <a href="/astro-test/blog">Blog</a>
        <h1>The ramblings start here</h1>
        <h2>
            The journey behind building this website
        </h2>
        <h3>
            From dealing wih broken node versions to figuring out deployment, Windows sucking as a dev env...the list goes on
        </h3>
        <h4>If everyone and their dog has a website, what's stopping me?</h4>
    </body>
</html>
